<!-- Hero-->
<div class="uk-section uk-section-primary uk-light uk-section-large">
  <div class="uk-container uk-container-small uk-text-center">

    <h1 class="uk-heading-primary uk-margin-small">
      Sign up
    </h1>

  </div>
</div>


<!-- Section-->
<div class="uk-section uk-section-large uk-section-muted">
  <div class="uk-container uk-container-small uk-text-center">


    <!-- Form -->
    <%= form_for(resource, class: "sign_form", as: resource_name, url: registration_path(resource_name)) do |f| %>


        <fieldset class="uk-fieldset">


          <%= devise_error_messages! %>


          <div class="field uk-margin">
            <%= f.label :email, class: "uk-form-label" %><br />
            <%= f.email_field :email, autofocus: true, class: "uk-input" %>
          </div>

          <div class="field uk-margin">
            <%= f.label :password, class: "uk-form-label" %>
            <% if @minimum_password_length %>
                <em>(<%= @minimum_password_length %> characters minimum)</em>
            <% end %><br />
            <%= f.password_field :password, autocomplete: "off", class: "uk-input" %>
          </div>

          <div class="field uk-margin">
            <%= f.label :password_confirmation, class: "uk-formlabel" %><br />
            <%= f.password_field :password_confirmation, autocomplete: "off", class: "uk-input" %>
          </div>

          <div class="actions uk-margin">
            <%= f.submit "Sign up", class: "uk-button uk-button-default uk-button-large" %>
          </div>


        </fieldset>
    <% end %>
    <!-- End Form -->

    <%= render "devise/shared/links" %>


  </div>
</div>
