<!-- Hero-->
<div class="uk-section uk-section-primary uk-light uk-section-large">
  <div class="uk-container uk-container-small uk-text-center">

    <h1 class="uk-heading-primary uk-margin-small">
      Log in
    </h1>

  </div>
</div>


<!-- Section-->
<div class="uk-section uk-section-large uk-section-muted">
  <div class="uk-container uk-container-small uk-text-center">


    <!-- Form -->
    <%= form_for(resource, as: resource_name, url: session_path(resource_name)) do |f| %>


        <fieldset class="uk-fieldset">


          <div class="field uk-margin">
            <%= f.label :email, class: "uk-form-label" %><br />
            <%= f.email_field :email, class: "uk-input", autofocus: true %>
          </div>

          <div class="field uk-margin">
            <%= f.label :password, class: "uk-form-label" %><br />
            <%= f.password_field :password, class: "uk-input", autocomplete: "off" %>
          </div>

          <% if devise_mapping.rememberable? -%>
              <div class="field uk-margin">
                <%= f.check_box :remember_me %>
                <%= f.label :remember_me, class: "uk-form-label" %>
              </div>
          <% end -%>

          <div class="actions uk-margin">
            <%= f.submit "Log in", class: "uk-button uk-button-default uk-button-large" %>
          </div>


        </fieldset>


    <% end %>
    <!-- End Form -->

    <%= render "devise/shared/links" %>


  </div>
</div>
