<div class="content uk-margin-large">


  <!-- Form -->
  <%= form_for(post) do |f| %>


      <fieldset class="uk-fieldset">


        <% if post.errors.any? %>
            <div id="error_explanation">
              <h2><%= pluralize(post.errors.count, "error") %> prohibited this post from being saved:</h2>

              <ul>
                <% post.errors.full_messages.each do |message| %>
                    <li><%= message %></li>
                <% end %>
              </ul>
            </div>
        <% end %>

        <div class="field uk-margin">
          <%= f.label :title, class: "uk-form-label" %>
          <%= f.text_field :title, class: "uk-input" %>
        </div>

        <div class="field uk-margin">
          <%= f.label :subtitle,class: "uk-form-label" %>
          <%= f.text_field :subtitle, class: "uk-input" %>
        </div>

        <div class="field uk-margin">
          <%= f.label :description, class: "uk-form-label" %>
          <%= f.text_field :description, class: "uk-input" %>
        </div>

        <div class="field uk-margin">
          <%= f.label :content, class: "uk-form-label" %>
          <%= f.text_area :content, class: "uk-textarea", rows: "15" %>
        </div>

        <div class="actions uk-margin">
          <%= f.submit class: "uk-button uk-button-default uk-button-large" %>
        </div>


      </fieldset>


  <% end %>


</div>