<!-- Meta tags -->
<% meta title: "Posts" %>


<!-- Hero-->
<div class="uk-section uk-section-primary uk-light uk-section-xlarge">
  <div class="uk-container uk-container-small uk-text-center">

    <h1 class="uk-heading-primary uk-margin-small">
      Posts
    </h1>

  </div>
</div>


<!-- hr -->
<div class="uk-container">

  <p id="notice"><%= notice %></p>

</div>


<!-- section -->
<div class="uk-section uk-section-large uk-section-muted">
  <div class="uk-container uk-container-small uk-text-center">

    <% if user_signed_in? %>

        <ul class="uk-subnav">
          <li>
            <%= link_to 'New Post', new_post_path, class: "uk-button uk-button-default uk-button-large" %>
          </li>
        </ul>

    <% end %>


    <div class="uk-child-width-expand@s uk-text-center" uk-grid>

      <% @posts.each do |post| %>

          <!-- column -->
          <div>

            <!-- card -->
            <div class="uk-card uk-card-default uk-card-body">

              <h3 class="uk-card-title uk-margin-small"><%= post.title %></h3>

              <small class="uk-margin-small"><strong><%= post.subtitle %></strong></small>
              <br>
              <p class="uk-margin-small"><%= post.description %></p>

              <%= link_to 'Detail', post, class: "uk-button uk-button-default" %>

              <% if user_signed_in? %>

                  <%= link_to 'Edit', edit_post_path(post), class: "uk-button uk-button-default" %>
                  <%= link_to 'Destroy', post, method: :delete, data: { confirm: 'Are you sure?' }, class: "uk-button uk-button-default" %>

              <% end %>

            </div>

          </div>

      <% end %>


    </div>

  </div>
</div>


<!-- Section-->
<div class="uk-section uk-section-large uk-section-muted">
  <!-- Container -->
  <div class="uk-container">


    <!-- Paginate -->
    <nav class="uk-pagination">
      <%= will_paginate @posts %>
    </nav>
    <!-- End Paginate -->

  </div>
  <!-- End Container -->
</div>
<!-- End Section -->