<!-- Meta tags -->
<% meta title: "Detail Post" %>


<!-- Hero-->
<div class="uk-section uk-section-primary uk-light uk-section-xlarge">
  <div class="uk-container uk-container-small uk-text-center">

    <h1 class="uk-heading-primary uk-margin-small">
      <%= @post.title %>
    </h1>

  </div>
</div>


<!-- hr -->
<div class="uk-container">

  <p id="notice"><%= notice %></p>

</div>


<!-- section -->
<div class="uk-section uk-section-large uk-section-muted">
  <div class="uk-container uk-container-small uk-text-center">


  <!-- card -->
  <div class="uk-card uk-card-default uk-card-body">

    <h3 class="uk-card-title uk-margin-small"><%= @post.subtitle %></h3>

    <p class="uk-margin-small"><%= @post.content %></p>

  </div>


  <% if user_signed_in? %>

      <%= link_to 'Edit', edit_post_path(@post), class: "uk-button uk-button-default" %>

  <% end %>

  <%= link_to 'Back', posts_path, class: "uk-button uk-button-default" %>


  </div>
</div>