<!DOCTYPE html>
<html lang="en">
<head>
  <!-- Generating Meta tags -->
  <%= metamagic %>
  <!-- End Generating Meta tags -->

  <!-- Static Meta Tags-->
  <meta charset="utf-8">
  <meta http-equiv="x-ua-compatible" content="ie=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <meta name="author" content="">
  <%= csrf_meta_tags %>
  <!-- End Static Meta Tags-->

  <!-- OG Meta Tags-->
  <meta property="og:title" content="7even">
  <meta property="og:url" content="">
  <meta property="og:image" content="">
  <meta property="og:type" content="website">
  <!-- End OG Meta Tags-->

  <!-- Apple touch icon -->
  <link rel="apple-touch-icon" href="apple-touch-icon.png">
  <!-- End Apple touch icon -->

  <!-- CSS-->
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => 'true' %>
  <%= stylesheet_link_tag params[:controller] %>
  <!-- End CSS-->
</head>
<body>
  <!-- Nav-->
  <nav class="nav">
    <!-- Container-->
    <div class="container">

      <!-- Nav-left -->
      <div class="nav-left">
        <%= link_to "7even", root_path, class: "nav-item is-brand" %>
      </div>
      <!-- End Nav-left -->

      <!-- Nav-right -->
      <div class="nav-right nav-menu">
        <%= link_to "Home", root_path, class: "nav-item" %>
        <%= link_to "Posts", posts_path, class: "nav-item" %>

        <span class="nav-item">|</span>

        <% if user_signed_in? %>

            <%= link_to "Log Out", destroy_user_session_path, :method => :delete, class: "nav-item" %>

        <% else %>

          <%= link_to "Log In", new_user_session_path, class: "nav-item" %>
          <%= link_to "Sign Up", new_user_registration_path, class: "nav-item" %>

        <% end %>
      </div>
      <!-- End Nav-right -->

    </div>
    <!-- End Container -->
  </nav>
  <!-- End Nav -->


  <!-- Main Content-->
  <main>
    <%= yield %>
  </main>
  <!-- End Main Content -->


  <!-- JS-->
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => 'true' %>
  <%= javascript_include_tag params[:controller] %>
</body>
</html>