<!DOCTYPE html>
<html lang="en">
<head>
  <!-- Title-->
  <title>Rails-Starter-Kit.io</title>

  <!-- Meta Tags-->
  <meta charset="utf-8">
  <meta http-equiv="x-ua-compatible" content="ie=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <meta name="description" content="">
  <meta name="author" content="">
  <%= csrf_meta_tags %>

  <!-- OG Meta Tags-->
  <meta property="og:title" content="Rails-Starter-Kit.io">
  <meta property="og:description" content="">
  <meta property="og:url" content="">
  <meta property="og:image" content="">
  <meta property="og:type" content="website">

  <!-- Apple touch icon -->
  <link rel="apple-touch-icon" href="apple-touch-icon.png">

  <!-- Icon Font-->
  <link rel="stylesheet" href="https://fonts.googleapis.com/icon?family=Material+Icons">

  <!-- CSS-->
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => 'true' %>
  <%= stylesheet_link_tag params[:controller] %>
</head>
<body>
  <!-- Nav-->
  <nav class="nav">
    <!-- Container-->
    <div class="container">

      <!-- Nav-left -->
      <div class="nav-left">
        <a href="/" class="nav-item is-brand">Rails-Starter-Kit.io</a>
      </div>
      <!-- End Nav-left -->

      <!-- Nav-right -->
      <div class="nav-right nav-menu">
        <a href="/" class="nav-item">Home</a>
      </div>
      <!-- End Nav-right -->

    </div>
    <!-- End Container -->
  </nav>
  <!-- End Nav -->


  <!-- Main Content-->
  <main>
    <%= yield %>
  </main>
  <!-- End Main Content -->


  <!-- JS-->
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => 'true' %>
  <%= javascript_include_tag params[:controller] %>
</body>
</html>