<!DOCTYPE html>
<html lang="en">
<head>

  <!-- Generating Meta tags -->
  <%= metamagic %>


  <!-- Static Meta Tags-->
  <meta charset="utf-8">
  <meta http-equiv="x-ua-compatible" content="ie=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <meta name="author" content="">
  <%= csrf_meta_tags %>


  <!-- OG Meta Tags-->
  <meta property="og:title" content="NACHO Stack">
  <meta property="og:url" content="">
  <meta property="og:image" content="">
  <meta property="og:type" content="website">


  <!-- Apple touch icon -->
  <link rel="apple-touch-icon" href="../../../public/apple-touch-icon-precomposed.png">


  <!-- CSS-->
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/uikit/3.0.0-beta.18/css/uikit.min.css" />
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => 'true' %>
  <%= stylesheet_link_tag params[:controller] %>
</head>
<body>

  <!-- Nav-->
  <div class="uk-position-relative">
    <div class="uk-position-top">
      <nav class="uk-navbar-container uk-navbar-transparent" uk-navbar>

        <div class="uk-navbar-left">

          <ul class="uk-navbar-nav">
            <li>
              <%= link_to "NACHO Stack", root_path, class: "brand" %>
            </li>
          </ul>

        </div>

        <div class="uk-navbar-right">

          <ul class="uk-navbar-nav">
            <li>
              <%= link_to "Home", root_path %>
            </li>
            <li>
              <%= link_to "Posts", posts_path %>
            </li>

            <% if user_signed_in? %>

              <li>
                <%= link_to "Log Out", destroy_user_session_path, :method => :delete %>
              </li>

            <% else %>

              <li>
                <%= link_to "Log In", new_user_session_path %>
              </li>
              <li>
                <%= link_to "Sign Up", new_user_registration_path %>
              </li>

            <% end %>
          </ul>

        </div>

      </nav>
    </div>
  </div>


  <!-- Main Content-->
  <main>


    <%= yield %>


  </main>


  <!-- JS-->
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => 'true' %>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/uikit/3.0.0-beta.18/js/uikit.min.js"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/uikit/3.0.0-beta.18/js/uikit-icons.min.js"></script>
  <%= javascript_include_tag params[:controller] %>
</body>
</html>